<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
            <div class="pd-10">
                <div class="error-page-wrap text-center">
                    <h1>503</h1>
                    <h3>Error: 503 Service Unavailable</h3>
                    <p style="font-size:20px">
                        @Model.ExceptionMessage..<br />
                    </p>
                    <p>
                        The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.
                        Common causes are a server that is down for maintenance or that is overloaded
                    </p>
                    <div class="pt-20 mx-auto max-width-200">
                        <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503"
                           class="btn btn-primary btn-block btn-lg">Check error by link</a>
                    </div>
                    <div class="pt-20 mx-auto max-width-200">
                        <a href="~/Home/Index" class="btn btn-primary btn-block btn-lg">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>