@{
	ViewData["Title"] = "Product Page";
	Layout = "_Layout";
}
<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10"> 
		<div class="pd-20 card-box mb-30">
			<div class="clearfix mb-20">
				<div class="pull-left">
					<h4 class="text-blue h4">PRODUCT TABLE</h4>
					
					<div class="pull-left">
						<a href="~/Product/Add"class="btn btn-primary btn-sm" role="button">Add Product</a>
					</div>
					
				</div>
				<div class="pull-right">
					<a href="#border-table" class="btn btn-primary btn-sm scroll-click" role="button">Save File To Excel</a>
				</div>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr style="text-align:center">
						<th scope="col">#</th>
						<th scope="col">Product Name</th>
						<th scope="col">Image</th>
						<th scope="col">Category</th>
						<th scope="col">Provider</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity In Stock</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>

		</div>
		<div class="footer-wrap pd-20 mb-20 card-box">
			ADMIN - Admin Template By
			<a href="https://bitbucket.org/dtranthai/fashion-admin/src/develop/" target="_blank" style="text-decoration:none">
				TONY ĐẶNG AND APTECH TEAM
			</a>
		</div>
	</div>
	
</div>