@using FashionWeb.Domain.ViewModels;
@model ProductViewModel

@{
    var code = (int)Model.StatusCode;
    var link = $"https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/{code}";
}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
            <div class="pd-10">
                <div class="error-page-wrap text-center">

                    <h1>@code</h1>
                    <h3>Error: @code @Model.StatusCode</h3>
                    <p style="font-size:20px">
                        @Model.Message <br />
                    </p>
                    @if (Model.Errors != null)
                    {
                        @for (int i = 0; i < Model.Errors.Length; i++)
                        {
                            <p style="font-size:20px">
                                @Model.Errors[i] <br />
                            </p>
                        }
                    }

                    <div class="pt-20 mx-auto max-width-200">
                        <a href=@link
                           class="btn btn-primary btn-block btn-lg">Check error by link</a>
                    </div>


                    <div class="pt-20 mx-auto max-width-200">
                        <a href="~/Home/Index" class="btn btn-primary btn-block btn-lg">Back To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
