<link href="~/css/access.css" rel="stylesheet" />
@using FashionWeb.Utilities.GlobalHelpers;
@{
    var mode = TempData[TEMPDATA.OPEN_MODE] as string;
    var successMessage = TempData[TEMPDATA.SUCCESS_MESSAGE] as string;
    var failMessage = TempData[TEMPDATA.FAIL_MESSAGE] as string;
    var label = TempData[TEMPDATA.LABEL_WARNING] as string;
    var accessDenied = TempData[TEMPDATA.ACCESS_DENIED] as string;
}


@if (!string.IsNullOrEmpty(mode))
{
    <div class="modal fade show" id="confirm-modal"
         tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         style="display: block; padding-right: 15px;"
         aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <h3 class="mb-20" style="color:blue">@successMessage</h3>
                        <div class="mb-30 text-center">
                            <img src="~/vendors/images/success.png">
                        </div>
                        <p>CONGRATULATUON !</p>
                    }
                    @if (!string.IsNullOrEmpty(failMessage))
                    {
                        <h3 class="mb-20" style="color:red">@failMessage</h3>
                        <div class="mb-30 text-center">
                            <img src="~/vendors/images/cancel.png">
                        </div>
                        <p>FAIL !</p>
                    }
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="closemodal">
                        Done
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(label))
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Fail !</h4>
        <p>@label</p>
        <hr>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (!string.IsNullOrEmpty(accessDenied))
{
    <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top w3-center"><code>403 FORBBIDEN : @accessDenied</code></h1>
        <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
        <h3 class="w3-center w3-animate-right">You dont have permission to view this site.</h3>
        <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
    </div>
}