<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FashionWeb.Admin</title>
    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href="~/vendors/styles/core.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/styles/icon-font.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/validationcss/validation-style.css" rel="stylesheet" />
    <link href="~/vendors/styles/style.css" rel="stylesheet" />

</head>
<body>

    @RenderBody()

    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
